.left {
  display: flex;
  min-height: 93vh;
  justify-content: center;
  align-items: center;
  width: 50%;
  // background-color: $fifth-color;
  .text {
    // background-color: $primary-color;
    display: flex;
    width: 85%;
    flex-direction: column;
    height: 85vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    .name {
      font-size: 2.5rem;
      font-weight: 400;
    }
    h1 {
      font-size: 4rem;
      font-weight: 500;
    }
    p {
      font-size: 1.5rem;
      font-weight: 200;
    }
  }
}
