/* image 2 */
.showcase{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.image{
    background-color: #fff;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0;
    img{
        width: 60%;
        margin: 0;
        padding: 0;
    }
}
.body{
    height: 100vh;
    background-color: #ddd;
    width: 50%;
}